@model EcoVaccine.Application.Models.Patient.Request.PatientRequest

@{
    ViewData["Title"] = "Editar Paciente";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="UpdatePatient">

    <div class="form-row">
        <div class="form-group col-md-8">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
        <div class="form-group col-md-8">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group col-md-8">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>